/* Base navbar styles */

/* * {
  overflow: hidden;
} */
.navbar {
  display: flex;
  justify-content: space-between; /* Ensure logo is on the left, menu on the right */
  align-items: center;
  padding: 0 20px 0px 20px;
  background-color: #191919;
  border-bottom: 1px solid white;
}

#logo {
  display: flex;
  align-items: center;
  padding: 20px 0 20px 55px;
}

.navbar-logo {
  height: 45px; /* Adjust size as needed */
  width: auto;
}


.menu-items {
  display: flex;
  flex-direction: row;
  gap: 20px;
  background-color: transparent;
  padding: 0;
}

.menu-items.row {
  display: flex; /* Show the items as a row */
}

.menu-items li {
  margin: 0;
  list-style: none;
}

.menu-items a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: color 0.3s;
}

.menu-items a:hover {
  color: #00bcd4;
}

/* Hamburger icon */
.hamburger-icon {
  width: 2em;
  height: auto;
  cursor: pointer;
  flex-direction: column;
  
}


@media (max-width: 480px){
  @keyframes slideIn {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .navbar{
    padding: 0 20px 0px 0px;
  }

  #logo{
    padding: 20px 0 20px 20px;
  }

  .navbar-logo{
    height: 4vh;
  }
  .sliding-drawer {
    position: fixed;
    top: 0;
    right: 0;
    width: 260px;
    height: 100%;
    /* background: linear-gradient(to left, rgb(45, 212, 191), rgb(59, 130, 246)); */
    background: #222;
    color: white;
    padding: 20px;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
    z-index: 1001;
    animation: slideIn 0.4s ease-out forwards;
  }
  
  .drawer-backdrop {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
  }
  
  .drawer-links {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: 100%;
    align-items: center;
    margin-top: 100%;
  }
  
  .drawer-links a {
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
  }

  .drawer-links li{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid white;
  }

  .drawer-links a:active{
    color: red;
  }
  
  .drawer-links a:hover {
    color: #e03997;
  }
  
  .nav-close-btn {
    background: transparent;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: auto;
    display: block;
  }
  

}