.bigContainer {
  display: flex;
  flex-direction: column;
  background: #191919;
}

.newGrowthPageContainer {
  display: flex;
  flex-direction: row;
  gap: 4%;
  margin-top: 2%;
  padding: 0 2%;
}

.newGrowthPageWrapper {
  width: 35%;
}

.returnToProjects {
  cursor: pointer;
  background: none;
  border: none;
  padding-top: 10px;
  padding-left: 20px;
}

.returnToProjects:hover {
  transform: scale(1.1);
}

.graphsContainer {
  display: flex;
  width: 65%;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.internGrowthPageInfo {
  width: 100%;
  background-color: #222;
  padding: 3% 0;
  border-radius: 20px;
  border: 2px solid transparent;
  background:
    linear-gradient(#191919, #191919) padding-box,
    /* Background color */ linear-gradient(90deg, #c333fd, #00bcd4, #25ffc1)
      border-box; /* Gradient border */
}

.internGrowthTitle {
  text-align: center;
}

.growthChartInfo img {
  filter: invert(1);
  padding-left: 5px;
  height: 2.5dvh;
}

.growthChartInfo img:hover {
  cursor: pointer;
}

.skillUpdates {
  display: flex;
  flex-direction: column;
  padding: 0 3%;
}

.graphsContainer1 {
  display: flex;
  flex-direction: column;
}

.monthlyGrowthGraph,
.skillGrowthGraph {
  border-radius: 15px;
  transition: transform 0.4s ease;
}

.monthlyGrowthGraph:hover {
  transform: scale(1.02);
}

.skillGrowthGraph:hover {
  transform: scale(1.02);
}
