.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    border-radius: 20px;
  }
  
  .modal-content {
    background: #1e1e1e;
    color: white;
    padding: 2rem;
    border-radius: 12px;
    max-width: 55%;
    width: 90%;
    box-shadow: 0 0 10px #000;
    max-height: 60dvh;
    overflow-y: auto;
  }

  .modal-content p{
    font-weight: 600;
  }

  .modal-content img{
    filter: invert(1);
    padding-right: 10px;
  }

  .boldSpan{
    font-weight: 700;
  }
  
  .growthChartInfoCloseBttn {
    width: 100%;
    text-align: end;
    top: 39%;
    right: 25%;
    background: transparent;
    border: none;
    font-size: 1.4rem;
    cursor: pointer;
    color: white;
}

.howWeCalculateGrowth{
    border: 1px solid gray;
    padding: 5dvh;
    border-radius: 20px;
    background-color: #191919;
}
  