/* Container for Initial Skills */
.initial-skills-container {
    background: linear-gradient(to bottom right,#ec4899,  #a655f1);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    text-align: center;
    color: white;
    min-height: 150px; /* Ensures consistency */
    display: flex;
    flex-direction: column;
}

/* Title */
.initial-skills-container h2 {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 15px;
}

/* Skills list */
.initial-skills-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0; /* Removes extra space around the list */
}

/* Individual skill */
.initial-skills-container li {
    font-size: 18px;
    margin: 5px 0;
    font-weight: 300;
}