.skillGrowthContainer {
  background: linear-gradient(
    to bottom right,
    #2b2b2b,
    #1e1e1e
  ); /* Dark Background */
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  color: white;
  /* height: 430px; Matches Monthly Growth */
  height: 230px;
  transition: transform 0.3s ease;
  border: 2px solid transparent;
  background:
    linear-gradient(#191919, #191919) padding-box,
    /* Background color */ linear-gradient(90deg, #c333fd, #00bcd4, #25ffc1)
      border-box; /* Gradient border */
}

/* ✅ Hover Effect (No Shadow) */
.skillGrowthContainer:hover {
  transform: scale(1.02);
}

/* ✅ Chart Title with Gradient Text & Matching Underline */
.skillGrowthContainer h2 {
  font-size: 30px;
  font-weight: 300;
  margin-top: 0px;
  margin-bottom: 15px;
  /* background: linear-gradient(to right,#ec4899,  #a655f1);    */
  background: linear-gradient(to right, #ec4899, #ec4899);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* position: relative;
  display: inline-block; Ensures it doesn't take full width */
}

/* ✅ Dark Purple Gradient for Bars */
.rechartsBar {
  fill: url(#barGradient) !important;
}

/* ✅ Responsive Adjustments */
@media (max-width: 768px) {
  .skillGrowthContainer {
    padding: 20px;
  }
}

@media (max-width: 450px) {
  .skillGrowthContainer h2 {
    font-size: 20px;
  }
}
